.videoList {
    display: flex;
    margin-top: 10px;
    height: 90vh;
    flex-direction: row;
}

.videoPlayer {
    background-color: white;
    margin-left: 10px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    height: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.videoPlayer h1 {
    margin-top: 10px;
}

.videoPlayer h2,
h3 {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: lighter;
    color: darkgray;
}

.videoPlayer h3 {
    font-size: 1em;
}