.mini-video-container {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    background-color: white;
    max-height: 80px;
    width: 90%;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.mini-video-container:hover {
    background-color: lightblue;
}

.mini-video-container h1 {
    font-size: 0.8em;
    margin-left: 10px;
}

.mini-video-parent {
    width: 30%;
}

.play {
    width: 100%;
    height: auto;
}