.contain {
  display: flex;
  margin-top: 10px;
  height: 90vh;
  flex-direction: row;
}

.searchRes {
  background-color: white;
  margin-left: 10px;
  width: 80%;
  border-radius: 20px;
  border: 1px solid black;
  height: auto;
  display: flex;
  flex-direction: column;
}

.course-items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pagination-container {
  position: absolute;
  bottom: 10px;
  left: 55%;
}