.course-add-container {
    background-color: white;
    width: 100vw;
    border-radius: 20px;
    align-items: center;
    border: 2px solid black;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    flex-direction: column;
}

.add-container {
    width: 40%;
    height: fit-content;
    background-color: rgb(250, 241, 255);
    text-align: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(86, 86, 86);
}

.add-container-greet {
    margin: 20px 20px;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
}

.course-price {
    margin-bottom: 15px;
    flex-direction: row;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.course-price p {
    line-height: 12px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.course-price input {
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
}

.course-tags {
    margin-bottom: 15px;
}

.course-tags p{
    margin-top: 20px;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}

.input-row {
    margin-bottom: 15px;
    width: 100%;
}

.course-title {
    margin-bottom: 15px;
    width: 100%;
}

.course-title input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: black;
}

.course-image {
    margin-bottom: 15px;
    flex-direction: row;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .course-image p {
    line-height: 12px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .thumbnail-image {
    max-height: 150px;
    max-width: 200px;
    border: 2px solid;
    border-radius: 10px;
    border-color: black;
  }

.confirm {
    margin: 20px 0;
    width: 100%;
    padding: 15px;
    background-color: #1eb2a6;
    color: #fff;
    border: none;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 5px;
}

.tag-button {
    margin-right: 5px;
    height: fit-content;
    color: black;
    padding: 5px 10px;
    background-color: #ebebeb;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.tag-button-add {
    margin-right: 5px;
    height: fit-content;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.tag-button:hover {
    background-color: #ff0000;
    color: #fff;
}