/* navbar.css */

.navbar {
    background-color: #1eb2a6;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px 0px rgba(64, 64, 64, 0.5);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    align-self: center;
    margin: 0;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.notification-badge {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.icon {
    margin-right: 5px;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 10px;
    border-radius: 50%;
}
.username {
    margin: 0;
}
