.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
}

.left-section {
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: black;
}

.input-row {
    margin-bottom: 15px;
}

.confirm {
    width: 100%;
    padding: 15px;
    background-color: #1eb2a6;
    color: #fff;
    border: none;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 5px;
}

.tag-button {
    margin-right: 5px;
    height: fit-content;
    color: black;
    padding: 5px 10px;
    background-color: #ebebeb;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.tag-button-add {
    margin-right: 5px;
    height: fit-content;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.tag-button:hover {
    background-color: #ff0000;
    color: #fff;
}