.about {
  height: auto;
}

.about #heading {
  text-align: left;
  padding: 0;
}

.about .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .items {
  margin-top: 50px;
}

.about .item {
  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
}

.about .img {
  width: 200px;
}

.about img {
  width: 70px;
  height: 70px;
}

.about .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.about .item p {
  color: #999999;
}

.about .item:hover {
  background-color: #1eb2a6;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}

.about .item:hover p {
  color: #fff;
}

.contain {
  background-color: brown;
  display: flex;
  flex-direction: row;
}

.searchBar {
  background-color: rgb(252, 255, 247);
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
}

.searchRes {
  background-color: #999999;
}
